.loginBox {
    height: 100vh;
    width: 100vw;
    background-image: url('descarga2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loginBox>main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.loginBox>main>figure {
    position: relative;
    width: 350px;
    height: 525px;
    background-image: url('pokedex.jpg');
    border-radius: 13px;
    text-align: center;
    animation: down .5s linear;
}

@keyframes down {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.loginBox>main>figure>span {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 13px;
    left: 36px;
    border-radius: 50%;
}

.loading {
    animation: shine .5s infinite;
}

@keyframes shine {
    from {
        background-color: black;
    }

    to {
        background-color: transparent;
    }
}

.welcomeMessageBox {
    margin-top: 150px;
    padding: 0 30px;
    font-size: 1.3rem;
}