.loginBox {
    height: 100vh;
    width: 100vw;
    background-image: url('descarga2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loginBox>main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.loginBox>main>figure {
    position: relative;
    width: 350px;
    height: 525px;
    background-image: url('pokedex.jpg');
    border-radius: 13px;
    text-align: center;
    animation: down .5s linear;
}

@keyframes down {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.loginBox > main > figure > img {
    position: absolute;
    width: 180px;
    height: 54px;
    top: 31px;
    right: 7px;
    padding: 5px 0 15px 0;
    background-color: #FF3334;
    border-radius: 16px 0 0 0;
}

.loginBox>main>figure>span {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 13px;
    left: 36px;
    border-radius: 50%;
}

.loading {
    animation: shine .5s infinite;
}

@keyframes shine {
    from {
        background-color: black;
    }

    to {
        background-color: transparent;
    }
}

.welcomeMessageBox {
    /* margin-top: 150px; */
    padding: 150px 30px 0 30px;
    font-size: 1.3rem;
}

.controlBox {
    position: absolute;
    bottom: 0;
    height: 270px;
    width: 350px;
}

.controlBox>input {
    position: absolute;
    height: 21px;
    width: 308px;
    top: 140px;
    left: 21px;
    border-radius: 16px;
    text-align: center;
}

.imgBox {
    position: absolute;
    height: 71px;
    width: 154px;
    bottom: 25px;
    left: 107px;
    background-color: #fff;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.imgBox > img {
    /* padding: 10px; */
    object-fit: contain;
    /* width: 100%; */
    max-height: 61px;
}

.imgBox > span {
    font-size: 8px;
}

.pokeNumber {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}